body {
    color:darkcyan;
    background-color:lightcoral;
    text-align: center;
    font-family: arial;
} 

#notes{
    color:darkgreen;
}

#news{
    color:yellow;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border:1px solid black;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}